* {
  box-sizing: border-box;
  font-family: "Libre Baskerville", "Noto Sans JP", serif;
}

:root{
	font-size: 16px;
}

body {
	margin: 0;
	user-select: none;
	font-family: "Libre Baskerville", "Noto Sans JP", serif;
}
